#body{
    color:rgb(120, 138, 120);
    font-size: 20px; 
    font-weight: bold;
}
#GFG_DOWN{
    color:green; 
    font-size: 20px;
     font-weight: bold;
}
#GFG_UP{
    font-size: 15px;
     font-weight: bold; 
} 
           
            